@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  transition: .3s;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 3px;
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #0C2D73;
}

@font-face {
  font-family: helvetica;
  src: url(./Fonts/Helvetica.ttf);
}

@font-face {
  font-family: GT3;
  src: url(./Fonts/GT-3.otf);
}

@font-face {
  font-family: GT4;
  src: url(./Fonts/GT-4.otf);
}

body {
  background: url(./Images/zap_image.webp);
  background-size: cover;
}

#nav {
  z-index: 10;
}

nav ul a {
  
}

#dad {
  backdrop-filter: blur(50px);
}

#home-gradient-txt,
#trailers-gradient {
  font-family: helvetica;
  background: linear-gradient(to bottom, #FAFBFC, #939DB8);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#features-h1 {
  font-family: GT3;
}

#pricing-features {
  font-family: GT4;
}

form {
  background: rgba(255, 255, 255, 0.037);
  backdrop-filter: blur(20px);
}

footer {
  z-index: 10;
}