@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  transition: .3s;
  box-sizing: border-box;
}

@font-face {
  font-family: helvetica;
  src: url(./Fonts/Helvetica.ttf);
}

body {
  background: #0B0C14;
}

#nav {
  z-index: 10;
}

#nav-link {
  background: #fff2;
  backdrop-filter: blur(20px);
  box-shadow: inset -2px -2px 3px #fff2;
}

#nav-link:hover {
  opacity: 0.7;
}

#home {
  background: url(./Images/zap_image.webp);
  background-size: cover;
}

#home-blured {
  backdrop-filter: blur(50px);
}

#home-gradient-txt {
  font-family: helvetica;
  background: linear-gradient(to right, #FAFBFC, #939DB8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

form {
  background: rgba(255, 255, 255, 0.037);
  backdrop-filter: blur(20px);
}